
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --sidebar-background: 260 10% 8%;
    --sidebar-foreground: 260 5% 85%;
    --sidebar-primary: 275 100% 25%;
    --sidebar-primary-foreground: 260 5% 100%;
    --sidebar-accent: 260 10% 15%;
    --sidebar-accent-foreground: 285 100% 50%;
    --sidebar-border: 260 10% 15%;
    --sidebar-ring: 285 100% 50%;
  }

  .dark {
    --background: 260 10% 10%;
    --foreground: 260 5% 95%;
    --card: 260 10% 12%;
    --card-foreground: 260 5% 95%;
    --popover: 260 10% 12%;
    --popover-foreground: 260 5% 95%;
    --primary: 275 100% 25%;
    --primary-foreground: 260 5% 100%;
    --secondary: 260 10% 20%;
    --secondary-foreground: 260 5% 95%;
    --muted: 260 10% 15%;
    --muted-foreground: 260 5% 70%;
    --accent: 285 100% 50%;
    --accent-foreground: 260 5% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 260 5% 100%;
    --border: 260 10% 20%;
    --input: 260 10% 20%;
    --ring: 285 100% 50%;
  }

  body {
    @apply bg-background text-foreground font-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code, pre {
    @apply font-code;
  }
}
